@model IndividualProjectCapstone.Models.Developer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/CreationMenu.cshtml";
}

<h1>Create</h1>

<h4>Developer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UrlPicture" class="control-label"></label>
                <input asp-for="UrlPicture" class="form-control" />
                <span asp-validation-for="UrlPicture" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">What type of developer are you?</label>
                <select asp-for="RoleId" class="form-control">
                    <option value="1">Front End Development</option>
                    <option value="2">Back End Development</option>
                    <option value="3">Full Stack Development</option>
                    <option value="4">Database Engineering</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">What level would you consider to be at?</label>
                <select asp-for="ProficiencyLevel" class="form-control">
                    <option value="1">Beginner</option>
                    <option value="2">Intermediate</option>
                    <option value="3">Advanced</option>
                    <option value="4">Expert</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Tell users a little about yourself!<i>100 characters or less</i></label>
                <input asp-for="AboutUser" class="form-control" />
                <span asp-validation-for="AboutUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
